html {
  font-size: 20px;
}
body {
  background: #e0e0e0;
}
.re-font15 {
  font-size: 15px;
}
.re-gray-btn {
  margin: 3px 6px 3px -3px;
  padding: 2px 5px;
  border: 1px solid #bbb;
  border-radius: 3px;
  line-height: 16px;
  min-width: 64px;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
}
.re-arrow-btn {
  position: relative;
  display: inline-block;
  margin: 15px 0 5px;
  padding: 2px 2px 2px 13px;
  background: #fff;
  color: #000;
  line-height: 16px;
  font-size: 14px;
  opacity: .8;
}
.re-arrow-btn::before {
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  display: inline-block;
  border-left: 10px solid #4f8f7e;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
.re-arrow-btn::after {
  position: absolute;
  right: -10px;
  top: 0;
  content: '';
  display: inline-block;
  border-left: 10px solid #fff;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
.re-icon {
  display: inline-block;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: url(../img/sprits.png) no-repeat;
  vertical-align: middle;
}
.re-icons {
  display: inline-block;
  margin: 7px 3px 7px 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #fff url(../img/sprits.png) no-repeat;
  vertical-align: middle;
  opacity: .8;
  transform: scale(0.9);
}
.re-icon-self {
  transform: scale(1.5);
  background-position: 5px 3px;
}
.re-icon-tel {
  background-position: -55px -55px;
}
.re-icon-email {
  background-position: -26px -113px;
}
.re-icon-qq {
  background-position: -51px -113px;
}
.re-icon-github {
  background-position: -53px -82px;
}
.re-icon-place {
  background-position: -51px -24px;
}
.re-icon-major {
  transform: scale(1.3);
  background-position: 5px -28px;
}
.re-icon-edu {
  position: absolute;
  top: 6px;
  left: -13px;
  background-position: 3px -56px;
  background-color: #4f8f7e;
}
.re-icon-work {
  position: absolute;
  top: 6px;
  left: -13px;
  background-position: 5px -84px;
  background-color: #4f8f7e;
}
.re-icon-item {
  position: absolute;
  top: 6px;
  left: -13px;
  background-position: -25px -86px;
  background-color: #4f8f7e;
}
.re-icon-honor {
  position: absolute;
  top: 6px;
  left: -13px;
  background-position: -25px -56px;
  background-color: #4f8f7e;
}
.re-main {
  margin: 0 auto;
  width: 1060px;
  border-radius: 3px;
  border: 5px solid #e0e0e0;
  box-sizing: border-box;
  outline: none;
}
.re-main * {
  box-sizing: border-box;
  outline: none;
}
.re-main *::before {
  box-sizing: border-box;
  outline: none;
}
.re-main *::after {
  box-sizing: border-box;
  outline: none;
}
.re-left {
  display: table-cell;
  padding: 15px 16px;
  width: 250px;
  background: #4f8f7e;
  color: #fff;
  vertical-align: top;
}
.re-left a {
  color: #fff;
}
.re-left a:hover {
  text-decoration: underline;
}
.re-left .re-progress {
  margin: 8px 0;
}
.re-left .re-progress span {
  display: inline-block;
  margin-left: -8px;
  width: 66px;
  text-align: right;
  font-size: 14px;
}
.re-left .re-progress .progress {
  margin: 7px 0;
  padding: 1px;
  width: 150px;
  border: 1px solid #fff;
  border-radius: 6px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}
.re-left .re-progress .progress-bar {
  position: relative;
  height: 7px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
}
.re-left .re-progress .progress-bar::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(../img/stripes.png) 0 0 repeat;
  border-radius: 4px 4px 0 0;
}
.re-left .re-progress .progress-bar::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  bottom: 45%;
  border-radius: 4px;
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
}
.re-left .progress-css .progress-bar {
  width: 90%;
  background-color: #86e01e;
  animation: css-move 1.5s;
  -webkit-animation: css-move 1.5s;
}
.re-left .progress-html .progress-bar {
  width: 87%;
  background-color: #f2d31b;
  animation: html-move 1.5s;
  -webkit-animation: html-move 1.5s;
}
.re-left .progress-js .progress-bar {
  width: 80%;
  background-color: #f2d31b;
  animation: js-move 1.5s;
  -webkit-animation: js-move 1.5s;
}
.re-left .progress-vue .progress-bar {
  width: 80%;
  background-color: #f2b01e;
  animation: vue-move 1.5s;
  -webkit-animation: vue-move 1.5s;
}
.re-left .progress-jquery .progress-bar {
  width: 75%;
  background-color: #f76f1f;
  animation: jquery-move 1.5s;
  -webkit-animation: jquery-move 1.5s;
}
.re-left .progress-less .progress-bar {
  width: 70%;
  background-color: #f27011;
  animation: less-move 1.5s;
  -webkit-animation: less-move 1.5s;
}
.re-left .progress-git .progress-bar {
  width: 78%;
  background-color: #f2b01e;
  animation: git-move 1.5s;
  -webkit-animation: git-move 1.5s;
}
.re-left .progress-ps .progress-bar {
  width: 68%;
  background-color: #f27011;
  animation: ps-move 1.5s;
  -webkit-animation: ps-move 1.5s;
}
.re-left .progress-webpack .progress-bar {
  width: 55%;
  background-color: #f63a0f;
  animation: webpack-move 1.5s;
  -webkit-animation: webpack-move 1.5s;
}
.re-left .progress-ele .progress-bar {
  width: 85%;
  background-color: #f2d31b;
  animation: ele-move 1.5s;
  -webkit-animation: ele-move 1.5s;
}
.re-left .progress-iview .progress-bar {
  width: 75%;
  background-color: #f2b01e;
  animation: iview-move 1.5s;
  -webkit-animation: iview-move 1.5s;
}
.re-left .re-ewm-box {
  margin-top: 15px;
  padding: 20px 10px;
}
.re-left .re-ewm {
  width: 40%;
  text-align: center;
}
.re-left .re-ewm img {
  width: 100%;
}
.re-prifile img {
  width: 138px;
  margin: 15px;
  border: 5px solid #fff;
  border-radius: 50%;
  -webkit-transition: 1s linear;
  -moz-transition: 1s linear;
  -o-transition: 1s linear;
  transition: 1s linear;
}
.re-prifile img:hover {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}
.re-prifile .re-name {
  font-size: 22px;
}
.re-prifile .re-position {
  font-size: 18px;
}
.re-l-box span {
  vertical-align: middle;
}
.re-l-box .re-top {
  margin-top: 30px;
  padding: 5px 0;
  border-bottom: 1px dotted #fff;
  font-size: 20px;
}
.re-l-box .re-content {
  padding: 10px 0;
  font-size: 16px;
  line-height: 26px;
}
.re-right {
  display: table-cell;
  padding: 8px 20px;
  width: 810px;
  background: #fff;
  vertical-align: top;
}
.re-r-box {
  margin-left: 16px;
  font-size: 16px;
}
.re-r-box .re-top {
  position: relative;
  padding: 5px 23px;
  border-bottom: 1px solid #ccc;
  font-size: 20px;
  font-weight: 600;
}
.re-r-box .re-content {
  margin-top: 14px;
  padding-left: 15px;
  border-left: 1px dotted #4f8f7e;
  line-height: 28px;
}
.re-r-box .re-content .re-block {
  padding-bottom: 8px;
}
.re-r-box .re-content .re-header {
  position: relative;
  top: -5px;
  font-size: 16px;
  font-weight: 600;
}
.re-r-box .re-content .re-header:hover {
  color: #4f8f7e;
}
.re-r-box .re-content .re-header .fl::before {
  content: '';
  position: absolute;
  left: -21px;
  top: -3px;
  display: inline-block;
  border: 6px solid transparent;
  border-bottom: 6px solid #4f8f7e;
}
.re-r-box .re-content .re-header .fl::after {
  content: '';
  position: absolute;
  left: -21px;
  top: 9px;
  display: inline-block;
  border: 6px solid transparent;
  border-top: 6px solid #4f8f7e;
}
.re-r-box .re-content .re-date {
  font-size: 15px;
}
.re-r-box .re-detail {
  overflow: hidden;
}
.re-r-box .re-detail a {
  color: #000;
}
/* 动画 */
@keyframes css-move {
  from {
    width: 0;
  }
  to {
    width: 90%;
  }
}
@-webkit-keyframes css-move {
  from {
    width: 0;
  }
  to {
    width: 90%;
  }
}
@keyframes html-move {
  from {
    width: 0;
  }
  to {
    width: 87%;
  }
}
@-webkit-keyframes html-move {
  from {
    width: 0;
  }
  to {
    width: 87%;
  }
}
@keyframes js-move {
  from {
    width: 0;
  }
  to {
    width: 80%;
  }
}
@-webkit-keyframes js-move {
  from {
    width: 0;
  }
  to {
    width: 80%;
  }
}
@keyframes vue-move {
  from {
    width: 0;
  }
  to {
    width: 80%;
  }
}
@-webkit-keyframes vue-move {
  from {
    width: 0;
  }
  to {
    width: 80%;
  }
}
@keyframes jquery-move {
  from {
    width: 0;
  }
  to {
    width: 75%;
  }
}
@-webkit-keyframes jquery-move {
  from {
    width: 0;
  }
  to {
    width: 75%;
  }
}
@keyframes less-move {
  from {
    width: 0;
  }
  to {
    width: 70%;
  }
}
@-webkit-keyframes less-move {
  from {
    width: 0;
  }
  to {
    width: 70%;
  }
}
@keyframes git-move {
  from {
    width: 0;
  }
  to {
    width: 78%;
  }
}
@-webkit-keyframes git-move {
  from {
    width: 0;
  }
  to {
    width: 78%;
  }
}
@keyframes ps-move {
  from {
    width: 0;
  }
  to {
    width: 68%;
  }
}
@-webkit-keyframes ps-move {
  from {
    width: 0;
  }
  to {
    width: 68%;
  }
}
@keyframes webpack-move {
  from {
    width: 0;
  }
  to {
    width: 55%;
  }
}
@-webkit-keyframes webpack-move {
  from {
    width: 0;
  }
  to {
    width: 55%;
  }
}
@keyframes ele-move {
  from {
    width: 0;
  }
  to {
    width: 85%;
  }
}
@-webkit-keyframes ele-move {
  from {
    width: 0;
  }
  to {
    width: 85%;
  }
}
@keyframes iview-move {
  from {
    width: 0;
  }
  to {
    width: 75%;
  }
}
@-webkit-keyframes iview-move {
  from {
    width: 0;
  }
  to {
    width: 75%;
  }
}
@media screen and (max-width: 767px) {
  .re-main {
    width: 100%;
    border: 2px solid #e0e0e0;
  }
  .re-left {
    display: block;
    padding: 10px;
    width: 100%;
  }
  .re-left .re-progress {
    padding: 0 .75rem;
  }
  .re-left .re-progress .progress {
    width: 75%;
  }
  .re-left .re-ewm-box {
    padding: 0;
    margin: .5rem 4rem;
  }
  .re-left .re-ewm {
    width: 38%;
  }
  .re-right {
    display: block;
    padding: 10px;
    width: 100%;
  }
  .re-right .re-header {
    display: flex;
    flex-direction: column;
  }
  .re-prifile {
    display: flex;
    text-align: left;
  }
  .re-prifile img {
    margin: .25rem 1rem .25rem 4rem;
    width: 25%;
    height: 4.5rem;
  }
  .re-prifile img + div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .re-l-box .re-top {
    margin-top: .25rem;
  }
  .re-icons {
    margin: .25rem .05rem .25rem .75rem;
  }
  .re-r-box {
    margin-left: 0;
  }
  .re-r-box .re-top {
    padding-left: 1.5rem;
  }
  .re-icon-edu,
  .re-icon-work,
  .re-icon-item,
  .re-icon-honor {
    left: -0.25rem;
  }
}
